rust/testing/*
rust/aoc_2023/*

python/test.ipynb

bgu/algo_design/208066381*
bgu/gen_models/.venv/
bgu/Generative Models Course/
bgu/test.py
bgu/dsp_lab/lab2/lab_instructions.pdf
bgu/cpu_arch/test.c
